.gradle/
build/
out/
bin/

*.iml
*.ipr
*.iws
.idea/

.classpath
.project
.settings/

.DS_Store

# Written by --insecure-write-credentials; grants account access without a password.
credentials.properties
